.blogContent{
   overflow-y: scroll ;
    
}
.blogContent::-webkit-scrollbar {
  width: 5px;
}

.blogContent::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
.button{
  /* border: 1px solid; */
  padding: 1.7rem;
  width: auto;
  text-transform: uppercase;
  background-color: tomato;
  position: relative;
}
.button:hover{
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
   transform: translateY(30%);
}
